<div class="container text-center mt-5">
    <div class="card shadow p-4" style="background-color: rgba(255, 255, 255, 0.8);">
        <div class="card-body">
            <h1 class="text-danger">Access Denied</h1>
            <p class="lead">You do not have permission to access this page.</p>
            <div class="mt-4">
                <a class="btn btn-primary btn-lg" href="/">Go to Home</a>
                <a class="btn btn-secondary btn-lg" href="authentication/login">Login</a>
            </div>
        </div>
    </div>
</div>