.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.error-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(200%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    max-height: 150px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.error-icon {
    font-size: 24px;
    margin-right: 10px;
}

.error-text {
    font-weight: bold;
    font-size: 18px;
}

.error-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.reload-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
    text-align: center;
}

.reload-btn:hover {
    background-color: #0056b3;
}

.dismiss {
    color: #721c24;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    flex: 0 0 auto;
}

.dismiss:hover {
    text-decoration: underline;
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

#newTag {
    position: absolute;
    right: 0;
    top: 0;
}

.buy_bt {
    cursor: pointer;
}