@if (_categories != null)
{
    @foreach (var category in _categories)
    {
        <a href="@($"main/products/category/{category.Id}")">
            <i class="fa fa-archive fs-2" style="color:#cca120" aria-hidden="true"></i>
            @category.Name
        </a>
    }
}

@code
{
    IEnumerable<GetCategory> _categories = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _categories = await CategoryService.GetAllAsync();
        }
        catch
        {
            ToastService.ShowErrorToast("An error occurred while loading categories.");
        }
    }
}
