<div class="footer_section pt-4">
    <div class="container">
        <div class="footer_logo"><a href="index.html"><img src="images/footer-logo.png"></a></div>
        <div class="input_bt">
            <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
            <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
        </div>
        <div class="footer_menu mb-2">
            <ul>
                <li><a href="about-us">About us</a></li>
                <li><a href="new-releases">New Releases</a></li>
                <li><a href="todays-deals">Today's Deals</a></li>
                <li><a href="customer-service">Customer Service</a></li>
            </ul>
        </div>
        @* <div class="location_main">Help Line  Number : <a href="#">+1 1800 1200 1200</a></div> *@
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section" style="font-size: 0.8rem; line-height: 1.5; ">
    <div class="container text-light text-center">
        <div>
            Build with <strong>Blazor + .NET 9</strong> by <a target="_blank" class="text-secondary font-weight-bold" href="http://www.unrealbg.com/">UnrealBG</a>.
        </div>
        <div>
            Made with <a target="_blank" class="text-secondary font-weight-bold" href="https://html.design">Eflyer Free Website Template</a>
        </div>
        <div>
            @* <span class="navbar-brand mr-2"><strong class="text-light">BlazorShop</strong></span>  *@
            Copyright &copy; @DateTime.Today.Year. All rights reserved.
        </div>
    </div>
</div>