@using BlazorShop.Web.Components.Header

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
        <a href="/" class="flex items-center gap-2">
            <img src="images/header-logo.png" alt="Logo" class="h-10 w-auto">
            <span class="font-bold tracking-wider">BLAZORSHOP®</span>
        </a>
        <SearchBarComponent Products="@Products" />
        <div class="flex justify-end">
            <HeaderBoxComponent />
        </div>
    </div>
</div>