@inherits LayoutComponentBase

<div class="banner_bg_main page-container d-flex flex-column min-vh-100">
    <div>
        <Toast />
        <NavBar />
    </div>

    <div class="content flex-grow-1">
        <Header />
        @Body
    </div>
    <Footer />
</div>