<div class="container">
    <div class="header_section_top">
        <div class="row">
            <div class="col-sm-12">
                <div class="custom_menu" style="display: flex; align-items: center; justify-content: center; position: relative;">
                    <ul style="list-style: none; padding: 0; margin: 0; display: flex; gap: 20px;">
                        <li><a href="/">Home</a></li>
                        <li><a href="about-us">About us</a></li>
                        <li><a href="new-releases">New Releases</a></li>
                        <li><a href="todays-deals">Today's Deals</a></li>
                        <li><a href="customer-service">Customer Service</a></li>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <li>
                                    <a href="admin">Admin Menu</a>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>