<table class="table @Styles.GetTableFormat(TableFormat) @CssClass">
    <thead class="@($"{Styles.GetBackgroundColor(HeaderBackground)} {Styles.GetTextColor(HeaderTextColor)} {Styles.GetFontClass(HeaderFont)} {Styles.GetFontSizeClass(HeaderFontSize)}".Trim())">
    @HeaderTemplate
    </thead>
    <tbody class="@($"{Styles.GetBackgroundColor(ContentBackground)} {Styles.GetTextColor(ContentTextColor)} {Styles.GetFontClass(ContentFont)} {Styles.GetFontSizeClass(ContentFontSize)}".Trim())">
    @ContentTemplate
    </tbody>
    <tfoot>
        @if (ButtonTemplate != null)
        {
            <tr>
                <td colspan="100%" class="text-center">
                    @ButtonTemplate
                </td>
            </tr>
        }
    </tfoot>
</table>
