<div class="w-full">
    <div class="w-full">
        <BlazoredTypeahead 
            Placeholder="Search Products..." 
            SearchMethod="SearchProducts"
            @bind-Value="SelectedProduct">
            <SelectedTemplate>@context.Name</SelectedTemplate>
            <ResultTemplate>@context.Name</ResultTemplate>
            <NotFoundTemplate>
                <span class="text-sm text-neutral-600">No Products Found</span>
            </NotFoundTemplate>
        </BlazoredTypeahead>
    </div>
</div>