<div id="mySidenav" class="@(isOpen ? "sidenav open" : "sidenav")">
    <a href="#" class="closebtn sidenav-close" @onclick="CloseNav">&times;</a>

    <div class="fw-bold text-center text-warning sidenav-heading sidenav-heading--lg">
        CATEGORIES
    </div>
    <hr class="text-light sidenav-divider" />

    @if (_categories != null)
    {
        @foreach (var category in _categories)
        {
            <a href="@($"main/products/category/{category.Id}")" @onclick="CloseNav">
                <i class="fa fa-archive fs-2 sidenav-icon" aria-hidden="true"></i>
                @category.Name
            </a>
        }
    }

    <div class="sidenav-footer">
        <hr class="text-light sidenav-divider" />
        <div class="fw-bold text-center text-warning sidenav-heading sidenav-heading--sm">
            BlazorShop 1.0
        </div>
    </div>
</div>

<span class="toggle_icon" @onclick="OpenNav">
    <img src="images/toggle-icon.png">
</span>