.team-section h2 {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.team-member {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    width: 200px;
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 18px;
    color: #30302e;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 14px;
    color: #767676;
}