<div class="banner_section layout_padding">
    <div class="container">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- Първи слайд -->
                <div class="carousel-item active">
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <h1 class="banner_taital">
                                Start Your Favorite <br> Shopping
                            </h1>
                            <p class="mt-3">Discover a wide range of products tailored to your needs.</p>
                            <div class="buynow_bt mt-4"><a href="#">Buy Now</a></div>
                        </div>
                    </div>
                </div>

                <!-- Втори слайд -->
                <div class="carousel-item">
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <h1 class="banner_taital">
                                Get <span class="text-danger fw-bold bg-light p-1" style="border-radius:15px">30%</span> Discount
                            </h1>
                            <p class="mt-3">Take advantage of our special Black Friday deals.</p>
                            <div class="buynow_bt mt-4"><a href="#">Shop Now</a></div>
                        </div>
                    </div>
                </div>

                <!-- Трети слайд -->
                <div class="carousel-item">
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <h1 class="banner_taital">
                                Stay Updated with <br> <span class="fw-bold text-success bg-light p-1" style="border-radius: 15px">Notifications</span>
                            </h1>
                            <p class="mt-3">Subscribe to our newsletter for the latest updates.</p>
                            <div class="buynow_bt mt-4"><a href="#">Subscribe</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Контролери -->
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
