@inherits LayoutComponentBase

<div class="min-h-screen flex flex-col bg-gradient-to-b from-sky-100 to-sky-200 text-neutral-900">
    <Toast />
    <AdminNavBar />
    <main class="flex-1">
        @Body
    </main>
    <Footer />
</div>