<a href="/" class="mt-4" style="position: absolute; left: 30px;">
    <img src="images/footer-logo.png" alt="Logo" style="height: 30px;">
</a>
<div class="container">
    <div class="header_section_top">
        <div class="row">
            <div class="col-sm-12">
                <div class="custom_menu" style="display: flex; align-items: center; justify-content: center; position: relative;">
                    <ul>
                        <li>
                            <a href="admin">Home</a>
                        </li>
                        <li>
                            <a href="product">Products</a>
                        </li>
                        <li>
                            <a href="category">Categories</a>
                        </li>
                        <li>
                            <a class="text-danger" href="authentication/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>