@page "/category"
@layout AdminLayout

<div class="banner_section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card p-5 m-2">
                    <div class="card-header text-center fs-3">Manage Categories</div>
                    <div class="card-title">
                        <button class="btn btn-outline-success btn-lg mt-2 float-end" @onclick="AddCategory">
                            Add Category
                        </button>
                    </div>
                    <div class="card-body" style="height: 500px; overflow: auto">
                        @if (_categories.Any())
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr class="bg-light mb-5">
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th class="text-danger text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var category in _categories)
                                    {
                                        <tr>
                                            <td>@category.Id</td>
                                            <td>@category.Name</td>

                                            <td>
                                                <i class="fa fa-trash text-danger text-center buy_bt" @onclick="() => ConfirmDelete(category.Id)">
                                                </i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info fw-bold text-center" role="alert">
                                No categories found.
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ModalDialog @bind-IsVisible="_showDialog">
    <Header>
        <h5 class="modal-title">Add New Category</h5>
    </Header>
    <Body>
        <EditForm Model="_category" OnValidSubmit="SaveCategory">
            <DataAnnotationsValidator />
            <div class="form-group p-2">
                <FloatingTextInput @bind-Value="_category.Name" Label="Category Name" class="form-control" />
                <ValidationMessage For="@(() => _category.Name)" />
            </div>
            <hr />
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary mr-2" type="submit">Save</button>
                <button class="btn btn-danger" type="button" @onclick="Cancel">Cancel</button>
            </div>
        </EditForm>
    </Body>
</ModalDialog>

<ModalDialog @bind-IsVisible="_showConfirmDeleteDialog">
    <Header>
        <h5 class="modal-title">Confirm Delete</h5>
    </Header>
    <Body>
        Are you sure you want to delete the category
        <span class="text-danger"><strong>@_categoryToDeleteName</strong></span>?
    </Body>
    <Footer>
        <button class="btn btn-danger" @onclick="DeleteCategoryConfirmed">Yes, Delete</button>
        <button class="btn btn-secondary" @onclick="CancelDelete">Cancel</button>
    </Footer>
</ModalDialog>